.u-section-1 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 825px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/zirconium-porcelain-tooth-plate-in-dentist-store-free-photo.jpg");
  background-position: 66.73% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 53px 1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 478px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 144px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 317px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/diana-polekhina-4nUZl0FZM3U-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 430px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/british-glass-whipped-trifle-creamy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 269px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-1 .u-image-2 {
    min-height: 261px;
  }

  .u-section-1 .u-image-3 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-image-1 {
    min-height: 781px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 300px;
  }

  .u-section-1 .u-image-3 {
    min-height: 816px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 450px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-image-1 {
    min-height: 738px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 283px;
  }

  .u-section-1 .u-image-3 {
    min-height: 385px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  min-height: 762px;
  background-image: none;
}

.u-section-2 .u-shape-1 {
  height: 113px;
  background-image: none;
  margin-top: 628px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -736px auto 21px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 736px;
}

.u-section-2 .u-container-layout-1 {
  padding: 133px 99px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  background-image: none;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 736px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-2 {
  width: 428px;
  height: 378px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 555px;
  height: 638px;
  margin: -341px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 874px;
  }

  .u-section-2 .u-shape-1 {
    height: 188px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 607px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    padding: 10px 35px 10px 34px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 714px;
  }

  .u-section-2 .u-shape-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-1 {
    height: 642px;
    width: 445px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 811px;
  }

  .u-section-2 .u-shape-1 {
    height: 148px;
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -691px;
    margin-bottom: -434px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-2 .u-shape-2 {
    width: 354px;
  }

  .u-section-2 .u-image-1 {
    width: 333px;
    height: 531px;
    margin-top: -315px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1030px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -910px;
    margin-bottom: -658px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-2 .u-image-1 {
    width: 414px;
    height: 554px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 846px;
  }

  .u-section-2 .u-shape-1 {
    height: 128px;
    margin-top: 743px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -857px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-2 .u-shape-2 {
    width: 258px;
    height: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 273px;
    height: 387px;
    margin-top: -236px;
    margin-left: 27px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 992px;
}

.u-section-3 .u-shape-1 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-shape-2 {
  width: 971px;
  height: 382px;
  background-image: none;
  margin: -144px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-image-1 {
  width: 809px;
  height: 589px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -681px calc(((100% - 1140px) / 2) + 81px) 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 428px;
  width: 570px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -191px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  margin: 82px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  
  background-image: none;
  margin: 49px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-2 {
    width: 851px;
    height: 311px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 689px;
    height: 525px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -610px;
    margin-right: calc(((100% - 940px) / 2)  + 81px);
  }

  .u-section-3 .u-group-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: -127px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 995px;
  }

  .u-section-3 .u-shape-2 {
    width: 693px;
    height: 199px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 569px;
    height: 431px;
    margin-top: -498px;
    margin-right: calc(((100% - 720px) / 2)  + 62px);
  }

  .u-section-3 .u-group-1 {
    margin-top: -56px;
    margin-bottom: 59px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-2 {
    width: 540px;
    height: 149px;
    margin-top: -237px;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 446px;
    height: 299px;
    margin-top: -355px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 76px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 100vh;
  }

  .u-section-3 .u-shape-1 {
    height: 376px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 118px;
    margin-top: -179px;
  }

  .u-section-3 .u-image-1 {
    width: 276px;
    height: 196px;
    margin-top: -243px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 38px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 22px;
  }
} .u-section-4 {
  background-image: url("images/british-glass-whipped-trifle-creamy.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 754px;
}

.u-section-4 .u-group-1 {
  width: 536px;
  min-height: 425px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 27.74% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-4 .u-group-1 {
    width: 518px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-group-1 {
    width: 458px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-4 .u-group-1 {
    width: 342px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 26.11% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-group-1 {
    width: 252px;
    margin-top: 34px;
    margin-bottom: 2px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1164px;
  margin: 114px -12px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 348px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 348px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 348px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 348px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-layout-wrap-2 {
  width: 224px;
  margin: -274px 60px 0 auto;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-icon-1 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: 11px auto 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 51px;
  height: 51px;
  margin: 9px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -256px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2658px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 742px;
    margin-right: -22px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 5px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 174px;
    margin-top: -288px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 71px;
  }

  .u-section-5 .u-icon-1 {
    width: 44px;
    height: 44px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 71px;
  }

  .u-section-5 .u-icon-2 {
    width: 44px;
    height: 44px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 71px;
  }

  .u-section-5 .u-icon-3 {
    width: 44px;
    height: 44px;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    width: 200px;
    margin-top: -33px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 20px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 57px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 20px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 20px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 3px;
    margin-right: auto;
  }
}